{% extends "base.html" %}

{% block content %}

<section class="hero">

    <h1>Selamat Datang di Helpdesk IT</h1>

    <p>
        Sistem Pelaporan Masalah Teknologi Informasi
        Kementerian Agama Kabupaten Malinau
    </p>

    <a href="/laporan" class="button">
        + Buat Laporan
    </a>

</section>


<section class="dashboard">

    <div class="card">
        <h3>Total Laporan</h3>
        <h2>{{ total }}</h2>
    </div>

    <div class="card warning">
        <h3>Menunggu</h3>
        <h2>{{ menunggu }}</h2>
    </div>

    <div class="card process">
        <h3>Diproses</h3>
        <h2>{{ diproses }}</h2>
    </div>

    <div class="card success">
        <h3>Selesai</h3>
        <h2>{{ selesai }}</h2>
    </div>

</section>


<section class="info">

    <h2>Jenis Masalah yang Dapat Dilaporkan</h2>

    <div class="kategori">

        <div class="kategori-card">
            💻
            <h3>Komputer</h3>
            <p>Komputer error atau tidak dapat digunakan.</p>
        </div>

        <div class="kategori-card">
            🖨️
            <h3>Printer</h3>
            <p>Printer tidak dapat mencetak atau mengalami error.</p>
        </div>

        <div class="kategori-card">
            🌐
            <h3>Internet</h3>
            <p>Koneksi internet lambat atau terputus.</p>
        </div>

        <div class="kategori-card">
            🔐
            <h3>Akun</h3>
            <p>Tidak dapat login ke aplikasi.</p>
        </div>
    <div class="user-info">

    Selamat datang,

    <strong>{{ current_user.nama }}</strong>

</div>
    </div>

</section>

{% endblock %}
